<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>成績情報の追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-style.css') }}">
</head>
<body>
    <h1>新しい成績情報を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('grade.list') }}">成績一覧</a></li>
        <li>新成績登録</li>
    </ul>

    <form action="{{ url_for('grade.add') }}" method="post">
        <label>学籍番号: <input type="text" name="student_number" autocomplete="off" required></label><br>
        <label>科目ID: <input type="text" name="subject_id" autocomplete="off" required></label><br>
        <label>単位数: <input type="number" min="0" max="10" name="unit" required></label><br>
        <label>評定: <input type="text" name="score" autocomplete="off" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>